.ride-selector {
    position: relative; /* Add position relative to make the button positioned absolutely relative to this container */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-height: 100vh; /* Set a minimum height to ensure the content takes up at least the full viewport height */
    background-color: rgb(41, 80, 131);
  }
  
  .rideSelectorTitle {
    font-size: 24px;
    margin-bottom: 20px;
    color: aliceblue;
  }
  
  .carList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .carItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .carItem:hover {
    background-color: #e0e0e0;
  }
  
  .carImage {
    width: 150px;
    height: auto;
  }
  
  .service {
    margin-top: 10px;
    text-align: center;
  }
  
  .selectedCar {
    margin-top: 30px;
    width: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .selectedCarTitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .selectedCarDetails {
    font-size: 16px;
  }
  
  .scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #4287f5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .scroll-button:hover {
    background-color: #276ac1;
  }
  
  .confirmButton {
    background-color: #1a237e;
    color: #fff;
    font-weight: bold;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 20px;
  }
  
  .confirmButton:hover {
    background-color: #0d47a1;
    transform: scale(1.12);
  }
  
  @media (max-width: 600px) {
    .carItem {
      width: 100%;
      max-width: 300px;
    }
  
    .selectedCar {
      width: 100%;
      max-width: 400px;
    }
  }
  